<nav _ngcontent-c3="" class="navbar navbar-expand navbar-dark mai-top-header">
  <div style="margin:10px;">
    <img style="height:35px;" src='assets/miracleLogo.png' />
  </div>
  <div style=" margin-left:80% ">
    <h4 style="color:#fff; ">Technical</h4> 
    <h4 style="color:#fff; ">&nbsp;Webinar</h4>
  </div>
</nav>     



     


<div style="margin-top: 15%"></div>
<div style=" text-align: center">
 <input  #inputData type="text"  class="form-control" placeholder="Enter Name" style="max-width: 250px;text-align: center; margin-left: auto; margin-right: auto;">
 <br>
 <button class="btn btn-primary" (click)="test()" >Submit</button>
</div>
<br>

<div style=" text-align: center">
  <h2>{{name}}</h2>
</div>